* {
    box-sizing: border-box;
  }

@font-face {
  font-family: "Toren Rotalic";
  src: url("assets/Toren-Rotalic.otf");
}

@font-face {
  font-family: "Toren Mono";
  src: url("assets/Toren-Mono.otf");
}

  
html,
body {
  height: 100%;
  margin: 0;
}
  
body {
  position: relative;
  padding: 700px 0 0 0;
  margin: auto;
  font-family: "Toren Mono";
  font-size: 1.1em;
  line-height: 135%;
  font-weight: normal;

  background-color: #ea7ba5;
  color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Toren Rotalic";
  font-size: 4rem;
  font-weight: normal;
  line-height: 100%;
}

p {
  padding: 0;
  margin: 0 0 36px 0;

}

canvas {
  position: absolute;
  pointer-events: none;
}

.repo {
  font-family: "Toren Rotalic";
  font-size: 24px;
  border: 1px solid #a92333;
  padding: 3px;
  text-decoration: none;

  position: absolute;
  top: 10px;
  left: 68px; 
  }

.repo:hover {
  /* font-family: "Toren Mono"; */
}

.is-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
}

.is-hidden {
  opacity: 0;
}

  .Texts {
    width: 400px;
    position: relative;
    padding-bottom: 400px;
    margin: 0 auto;
    transition: width 500ms ease-in-out;
  }

  div.Texts__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  div.Text {
    font-weight: 500;
    font-size: 1.3em;
    text-align: right;
    margin-right: 0px;
    line-height: 130%;
    padding-bottom: 40px;
  }

  div.Text:last-child {
    text-align: left;
    margin-left: 60px;
  }

  div.circle {
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 0;
    float: right;
    shape-outside: circle(50% at 100% 50%) padding-box;
    transition: width 500ms ease-in-out, height 500ms ease-in-out;
    pointer-events: none;
  }


  div.Text:last-child .circle {
    float: left;
    shape-outside: circle(50% at 0px 50%) padding-box;
  }

  


  @media only screen and (min-width: 800px) {
    canvas {
      left: 50%;
      top: 50%;
      transition: transform 500ms ease-in-out;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }