* {
    box-sizing: border-box;
  }

@font-face {
  font-family: "Toren Rotalic";
  src: url("assets/Toren-Rotalic.otf");
}

@font-face {
  font-family: "Toren Mono";
  src: url("assets/Toren-Mono.otf");
}

  
html,
body {
  height: 100%;
  margin: 0;
  /* cursor: url("assets/ketchup.png"), auto; */

}
  
body {
  position: relative;
  padding: 700px 0 0 0;
  margin: auto;
  font-family: "Toren Mono";
  font-size: 1.1em;
  line-height: 135%;
  font-weight: normal;

  background-color: #ea7ba5;
  color: #000;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  cursor: url("assets/ketchup.png"), auto;
}

h1 {
  font-family: barricada-pro, serif;
  font-weight: 400;
  font-style: normal;  
  font-size: 4rem;
  line-height: 100%;
}

p {
  padding: 0;
  margin: 0 0 36px 0;
  cursor: url("assets/ketchup.png"), auto;

}

p::selection {
  color: #a92333;
}

canvas {
  position: absolute;
  pointer-events: none;

  cursor: url("assets/ketchup.png"), auto;

}

.repo {
  font-family: "Toren Rotalic";
  font-size: 24px;
  background-color: #a92333;
  color: #ea7ba5;
  border: none;
  padding: 5px;
  
  text-decoration: none;

  position: absolute;
  top: 10px;
  right: 58px; 
}

.is-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
}

.is-hidden {
  opacity: 0;
}

.Texts {
  width: 400px;
  position: relative;
  padding-bottom: 400px;
  margin: 0 auto;
  transition: width 500ms ease-in-out;
}

.Texts__content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;

  cursor: url("assets/ketchup.png"), auto;

}

.Text {
  font-weight: 500;
  font-size: 1.3em;
  text-align: right;
  margin-right: 0px;
  line-height: 130%;
  padding-bottom: 40px;

  cursor: url("assets/ketchup.png"), auto;

}

.Text:last-child {
  text-align: left;
  margin-left: 60px;
}

.circle {
    position: relative;
    width: 350px;
    height: 350px;
    margin-top: 0;
    float: right;
    shape-outside: circle(50% at 100% 50%) padding-box;
    transition: width 500ms ease-in-out, height 500ms ease-in-out;
    pointer-events: none;
}


.Text:last-child .circle {
  float: left;
  shape-outside: circle(50% at 0px 50%) padding-box;
}

@media (max-width: 799px) {

  body {
    padding: 200px 0 0 0;
  }

  canvas {
    top: -160px !important;
    left: -180px !important;
    transform: scale(0.4);
  }

  .Texts__content {
    display: block;
  }

  .repo {
    background-color: #a92333;
    color: #ea7ba5;
    border: none;
    font-size: 16px;

    padding-left: 6px;
    padding-right: 6px;
  }

  .Text > .Title {
    font-size: 2.6em;
  }

  /* .Text:first-child > .Title:after {
    content: " Burger";
  }

  .Text:last-child > .Title:before {
    content: "Burger ";
  } */

  .circle {
    display: none;
  }

  .Texts {
    width: 100%;
    padding: 0 40px;
    text-align: left;
  }


  .Text {
    /* width: 100%; */
    position: relative;
    text-align: left;
    margin: 0 auto 32px auto;
  }

  .Text:last-child {
    margin: auto;
  }

}

@media (min-width: 800px) {
  canvas {
    left: 50%;
    top: 50%;
    transition: transform 500ms ease-in-out;
    transform: translate(-50%, -50%) scale(0.8);
  }
}